# extends 'admin.html'
<!DOCTYPE html>
<html>
    <head>
        <title>
            # block admintitle
            ${_('Wiki Notifications')} ${ super() }
            # endblock admintitle
        </title>
        # block head
        ${ super() }
        # endblock head
    </head>
    <body>
        # block adminpanel
        <h2>${_('User Wiki Notifications')}</h2>
        <table class="listing">
            <thead>
                <tr><th>SIDs</th><th>Watched Wiki Pages</th></tr>
            </thead>
            <tbody>
                # for page in wpages:
                <tr>
                  <td>${page.sid}</td>
                  <td style="width:100%;">
                  # for wikipage in page.pages:
                  # if loop.last:
                  <a href="${wikiurl}/${wikipage}">${wikipage}</a>
                  # else:
                  <a href="${wikiurl}/${wikipage}">${wikipage}</a>,
                  # endif
                  # endfor
                  </td>
                </tr>
                # endfor
            </tbody>
        </table>
        # endblock adminpanel
    </body>
</html>
